<!---<u><h2>Your Drinks</h2></u>
<div id="wrapper">
<nav>
  <b routerLink="/detail">Details</b>
  <p>
    &nbsp;
  </p>
  <b routerLink="/ingredient-search">IngredientSearch</b>
  <p>
    &nbsp;
  </p>
  <b routerLink="/drink-search">DrinkSearch</b>
</nav>
</div>
<router-outlet></router-outlet>-->



<!---<div>
  <label>Drink name:
    <input #drinkName />
  </label>
  (click) passes input value to add() and then clears the input 
  <button (click)="add(drinkName.value); drinkName.value=''">
    add
  </button>
</div>-->
<router-outlet></router-outlet>
<ul class="drinks">
  <li *ngFor="let drink of drinks">
    <a routerLink="/detail/{{drink.drinkId}}">
     <span class="badge">{{drink.drinkId}}</span> {{drink.drinkName}}
    </a>
    <!---<button class="delete" title="delete drink"
      (click)="delete(drink)">x</button>-->
  </li>
</ul>