<p>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
</p>
<u><h3>List of Ingredients</h3></u>
<!---<app-ingredient-form></app-ingredient-form>
<div>
  <label>Ingredient name:
    <input #ingredientName />
  </label>
  (click) passes input value to add() and then clears the input 
  <button (click)="add(ingredientName);">
    add
  </button>
</div>-->

<ul class="ingredients">
  <li *ngFor="let ingredient of ingredients">
    <a routerLink="/detail/{{ingredient.ingredientId}}">
      <span class="badge">{{ingredient.ingredientId}}</span> {{ingredient.ingredientName}}
    </a>
    <button class="add" title="add ingredient"
      (click)="add(ingredient)">+</button>
  </li>

</ul>





